*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@font-face {
    font-family: 'pokemontxt';
    src: url(/Website4beginners/fonts/pokemon-emerald.ttf);
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: magenta;
}
body{
    background-color: slategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.sidebarL{
    height: 100vh;
    width: 10%;
    background-color: black;
    position: fixed;
}
main{
    background-color: black;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    display: inline-block;
}
section{
    background-color: rgb(168, 164, 164);
    height: 100vh;
    width: 100%;
    margin-bottom: 8%;
    display: inline-block;
    text-align: center;
}
.Main{
    background-image: url(/Website4beginners/img/pokedex.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 13%;
}
section h1{
    color: rgb(226, 224, 224);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
section p{
    color: rgb(226, 224, 224);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.row{
    margin-bottom: 14%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.column{
    float: left;
    width: 30%;
    height: 500px;
    background-color: rgb(226, 224, 224);
    border-color: rgb(40, 20, 95);
    border-style: ridge;
    border-width: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black inset;
    margin: 0 0 0 2.5%;
    padding: 30px;
    text-align: justify;
    font-family: 'pokemontxt', Verdana, Geneva, Tahoma, sans-serif; 
}
.column h1{
    text-align: center;
}
.column ul li{
    list-style-type: none;
}
#top{
    margin-top: 10%;
}
#bottom{
    margin-top: 30%;
}
#sub1{
    display: inline-block;
    text-align: center;
    float: left;
}
#sub2{
    display: inline-block;
    float: right;
    text-align: center;
}
#sub3{
    float: left;
    text-align: center;
    display: inline-block;
}
#sub4{
    float: right;
    text-align: center;
    display: inline-block;
}
div.sidebarR{
    height: 100vh;
    width: 10%;
    background-color: black;
    float: right;
    position: fixed;
    right: 0px;
    top: 0px;
}
#div1{
    background-color: rgb(226, 224, 224);
    width: 50px;
    height: 25px;
    margin-top: 35%;
    text-align: justify;
    /*border: black;
    border-style: dashed;*/
}
#div2{
    background-color: rgb(226, 224, 224);
    width: 50px;
    height: 25px;
    margin-top: 65%;
    /*border: black;
    border-style: dashed;*/
}
#div3{
    background-color: rgb(226, 224, 224);
    width: 50px;
    height: 25px;
    margin-top: 35%;
    margin-left: -60%;
    /*border: black;
    border-style: dashed;*/
}
#div4{
    background-color: rgb(226, 224, 224);
    width: 50px;
    height: 25px;
    margin-top: 65%;
    margin-left: -60%;
    /*border: black;
    border-style: dashed;*/
}
#foot{
    background-color: black;
    width: 80%;
    height: 155px;
    margin-left: 10%;
    margin-right: 0%;
    position: fixed;
    bottom: 0px;
    font-family: 'pokemontxt', Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    text-shadow: 1px 3px 4px rgb(68, 68, 68);
    clear: both;
}
#parent1{
    background-color: #ff0000;
    width: 100%;
    height: 98%;
    border-radius: 25px;
    border-style: solid;
    box-shadow: 2px 2px 2px 2px black inset;
    display: inline-block;
}
#parent1a{
    background-color: rgb(3, 117, 70);
    width: 94%;
    height: 93%;
    border-radius: 20px;
    margin-top: .6%;
    margin-left: 3%;
    box-shadow: 1px 1px 1px 1px #ff0000 inset;
}
#parent1a p{
    color: rgb(226, 224, 224);
    font-size: 32px;
    margin: 0;
    position: absolute;
    top: 48%;
    left: 32%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#parent2{
    background-color: rgb(226, 224, 224);
    height: 96%;
    width: 39%;
    margin-top: .35%;
    /*float: right;*/
    border-color: rgb(40, 20, 95);
    border-style: ridge;
    border-width: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black inset;
    position: absolute;
    bottom: 2px;
    right: 0px;
}
#battlemenu1{
    display: inline-block;
    margin-left: 10%;
    height: 90%;
}
#battlemenu2{
    float: right;
    margin-right: 20%;
    height: 90%;
}
section h1, h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.fill{
    width: fit-content;
    height: fit-content;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    opacity: none;
    display: flex;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
.submit{
    width: 100%;
    background-color: rgb(3, 117, 70);
    color: white;
    text-align: center;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.submit:hover {
    background-color: #45a049;
  }
  
.fillform{
width: 35%;  
border-radius: 5px;
padding: 20px;
text-align: left;
}
#toto{
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 170px;
    top: 230px;
}
.hyper{
    width: fit-content;
    height: fit-content;
    display: flex;
}